@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base body + container */
:root {
  --max-width: 1100px;
}

body {
  @apply bg-brand-50 text-gray-800 antialiased;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto;
}

/* Page container */
.container {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* small utility for subtle input focus outline */
.input-focus:focus {
  @apply outline-none ring-2 ring-accent-200;
}
